.hero-area-bg-committee {
  background: url(../img/background/committee.jpg) no-repeat;
  background-size: cover;
}

.hero-area-bg-submission {
  background: url(../img/background/submission.jpeg) no-repeat;
  background-size: cover;
}

#hero-area .content {
  padding: 160px 20px 160px;
  height: 350px;
}

#hero-area .content .head-title {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 0.3rem;
}

ul {
  list-style: outside none none;
}

ul a {
  color: #fff;
}

ul a:hover {
  color: #ff4a67;
}

ul li {
  display: inline-block;
  color: #ff4a67;
}

.about-content .about-text span {
  font-size: 17px;
  margin-bottom: 4px;
  display: block;
}

.about-content .about-text span span {
  font-size: 17px;
  display: inline-block;
}

#committee .row .text-res {
  text-align: right;
  font-weight: bold;
  font-size: 17px;
}

@media (max-width: 991px) {
  #committee .row .text-res {
    text-align: left;
  }
}

#submission .container h5 {
  font-size: 1.25rem;
  width: 800px;
  margin: auto;
}

#submission .container p {
  font-size: 1.125rem;
  width: 800px;
  margin: auto;
  margin-top: 10px;
}
